#home {
  height: 70vh;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 0 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.hero-text {
  font-family: 'Crete Round', serif;
  font-size: 1.8rem;
  line-height: 1.1;
}

.hero-text-me {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Preahvihear', sans-serif;
  color: var(--secondary-color);
}

.hero-about {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: var(--line-height2);
}

.socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-icons {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.social-icons:hover {
  color: black;
}

.image-developer {
  width: 18rem;
}

.image-developer::after {
  content: "blue";
  position: absolute;
  border: 1px solid black;
  background-color: black;
  top: 1%;
  left: 2%;
}

@media only screen and (max-width: 768px) {
  #home {
    justify-content: center;
    grid-auto-flow: row;
    padding: 0 3%;
    height: 95vh;
    align-items: end;
  }

  .hero {
    align-items: center;
    text-align: center;
  }

  .image-home-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-developer {
    width: 200px;
    height: 300px;
  }
}

@media only screen and (min-width: 769px) {
  .hero-about {
    max-width: 50rem;
  }

  .hero-text-me {
    font-size: 2.5em;
  }

  .social-icons {
    font-size: 1.8em;
    gap: 20px;
  }
}
