nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 5rem;
}

header {
  height: 4.5rem;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

header.scroll {
  position: sticky;
  box-shadow: 0 -1px 8px;
  top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
}

.nav-btn {
  outline: none;
  border: none;
  background: transparent;
  display: none;
}

nav ul li a {
  font-family: 'Poppins', sans-serif;
  position: relative;
  color: var(--secondary-color);
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--secondary-color);
  transition: width 0.4s ease-in-out;
}

nav ul li a:hover::before {
  width: 100%;
}

nav ul li a:hover {
  cursor: pointer;
}

nav ul li .active::before {
  width: 100%;
}

nav h1,
.hamburg-menu {
  color: var(--secondary-color);
}

.nav-btn,
.close {
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 0 3% 0 3%;
  }

  button.hamburg-menu {
    display: block;
  }

  .close {
    display: block;
    position: absolute;
    top: 3%;
    right: 8%;
    color: var(--secondary-color);
  }

  .nav-links {
    position: fixed;
    top: 0%;
    right: -100%;
    width: 50%;
    height: 100%;
    background: var(--primary-color);
    transition: all 700ms ease-in-out;
    border-left: 1px solid var(--primary-color);
    box-shadow: 2px 0 5px #000;
    z-index: 10;
    padding: 12% 0 0 8%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow: auto;
  }

  nav ul.responsive-menu {
    right: 0;
    top: 0;
  }

  nav ul li a {
    color: var(--secondary-color);
    font-size: 1.25rem;
    text-align: left;
  }

  nav ul li:nth-child(1) {
    margin-top: 2rem;
  }

  nav div {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  nav ul {
    gap: 4.5rem;
  }
}
