@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #3e54ac;
  --third-color: #f9f9f9;

  /* --fourth-color: #BFACE2; */
  --line-height: 1.5;
  --line-height-3: 1.1;
  --line-height2: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

footer.socials {
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
}

footer .back {
  color: var(--secondary-color);
}

footer .back:hover {
  color: black;
  cursor: pointer;
}
